---
layout: layout.ejs
tags: []
title: Vladimir Klepov as a Coder
summary: I write in-depth articles about web development — best known for my React series, but eager to explore other technologies.
postLimit: 10
---

<section>
  <div class="about">
    <span class="me-greet">Nice to meet you, my name is</span>
    <h1 class="me">Vladimir Klepov</h1>
    I&nbsp;am a&nbsp;front-end team&nbsp;lead, currently building a&nbsp;fintech startup. I&nbsp;write 
    in-depth articles about web development — best known for&nbsp;my&nbsp;<a href="/tags/react">React series,</a> but eager&nbsp;to 
    explore other technologies.
  </div>

  <a href="<%= config.bmc %>" class="link--bare bmc-card">
    <div>
      My&nbsp;goal is to&nbsp;become an independent content creator. But before I&nbsp;get there, 
      I&nbsp;hve to start somewhere —  gathering $100 in 2024 will be not bad.
      It&nbsp;would greatly help if you <span class="bmc">bought me a&nbsp;coffee!</span>
    </div>
  </a>
  
  <%- include('layout/_partial/social-links') %>
</section>

<section id="writing">
  <span class="h1"><a href="/archive">Writing</a></span>
  <%- include('layout/_partial/post-list', { posts: collections.posts.slice().reverse().slice(0, postLimit), tags: true }) %>
  <a href="/archive">And <%=collections.posts.length - postLimit%> more</a>
</section>

<section id="projects">
  <span class="h1"><a href="<%- config.github %>">Projects</a></span>
  <ul class="project-list">
    <li class="project-item">
      <a target="_blank" href="https://thoughtspile.github.io/grafar/#/">Grafar:</a>
      Reactive multidimensional math &amp; data visualization for the web.
    </li>
    <li class="project-item">
      <a target="_blank" href="https://github.com/thoughtspile/banditypes">Banditypes:</a>
      The smallest validation library for JS / TS — only 400 bytes!
    </li>
    <li class="project-item">
      <a target="_blank" href="https://github.com/thoughtspile/banditstash">Banditstash:</a>
      Type-safe localStorage wrapper with validation, key scoping and error handling. 
      Highly configurable, 500 bytes.
    </li>
    <li class="project-item">
      <a target="_blank" href="https://github.com/thoughtspile/awesome-tiny-js">Awesome tiny JS:</a>
      Curated list of extremely small JS libraries.
    </li>
    <li class="project-item">
      <a target="_blank" href="https://thoughtspile.github.io/procedural/">Procedural art:</a>
      Beautiful moving things.
    </li>
  </ul>
</section>
