---
layout: layout.ejs
---
<%- include('_partial/header', { is_post: true }) %>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="posttitle" itemprop="name headline">
        <%= title %>
    </h1>
    <div class="post__date">
      Written in<%- include('_partial/post/date', { post: page, class_name: 'postdate' }) %>
    </div>
  </header>
  <div class="content" itemprop="articleBody">
    <%- content %>
  </div>

  <span class="share">
    <div>
      <a href="https://twitter.com/share?url=<%= config.base + page.url %>&text=<%= title %> by @thoughtspile">
        Tweet
      </a>
    </div>
    <div id="share-button">
      <a>Share</a>
    </div>
  </span>  

  <%- include('_partial/social-links') %>

  <%- include('_partial/bmc-lead') %>

  <div class="post-related">
    <div class="post-sibling">
      <span class="post-siblings__direction">More?</span><%- include('_partial/post/tag') %>
    </div>
    
    <% var nextPost = js.getPreviousCollectionItem(collections.posts.filter(x => !x.data.hidden), page) %>
    <% if (nextPost) { %>
      <a class="link--bare post-sibling" href="<%=nextPost.url%>">
        <span class="post-siblings__direction">Older?</span>
        <span class="link__text"><%-nextPost.data.title%></span>
      </a>
    <% } %>
    <% var previousPost = js.getNextCollectionItem(collections.posts.filter(x => !x.data.hidden), page) %>
    <% if (previousPost) { %>
      <a class="link--bare post-sibling" href="<%=previousPost.url%>">
        <span class="post-siblings__direction">Newer?</span>
        <span class="link__text"><%-previousPost.data.title%></span>
      </a>
    <% } %>
  </div>

</article>
<script async src="/js/share.js"></script>