<div class="social-links">
  <a href="<%= config.linkedin %>" class="link--bare"><%- include('icons/brands-linkedin') %></a>
  <a href="<%= config.github %>" class="link--bare"><%- include('icons/brands-github') %></a>
  <a href="/atom.xml" class="link--bare" target="_blank"><%- include('icons/rss') %></a>
</div>
