<div class="social-links">
  <a href="<%= config.twitter %>" class="link--bare"><%- include('icons/brands-twitter') %></a>
  <a href="<%= config.mastodon %>" class="link--bare"><%- include('icons/brands-mastodon') %></a>
  <a href="<%= config.linkedin %>" class="link--bare"><%- include('icons/brands-linkedin') %></a>
  <a href="/atom.xml" class="link--bare" target="_blank"><%- include('icons/rss') %></a>
</div>
